<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.lc.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.green.lc.entity.Emp">
    <id column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_gender" jdbcType="VARCHAR" property="empGender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="department" jdbcType="VARCHAR" property="department" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.green.lc.entity.Emp">
    insert into emp (emp_id, emp_name, emp_gender, 
      email, department)
    values (#{empId,jdbcType=INTEGER}, #{empName,jdbcType=VARCHAR}, #{empGender,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.green.lc.entity.Emp">
    update emp
    set emp_name = #{empName,jdbcType=VARCHAR},
      emp_gender = #{empGender,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select emp_id, emp_name, emp_gender, email, department
    from emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select emp_id, emp_name, emp_gender, email, department
    from emp
  </select>
  <select id="selectByIdGreater" resultType="com.green.lc.entity.Emp">
    select emp_id, emp_name, emp_gender, email, department
    from emp
    where emp_id > #{empId}
  </select>
</mapper>